* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body{
  background-color:#222831;
  font-family: 'Dosis', sans-serif;
}

.to-do-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &__body{
    margin-top: 10px;
    border: 4px solid #393E46;
    border-radius: 10px;
    min-height: 400px;
    width: 600px;
  }
  &__title {
   color:#00ADB5;
   font-size: 26px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   margin-top: 20px;
  }

  &__input {
    margin: 20px 5%;
  }
  &__input input{
    padding: 8px;
    width: 400px;
    border: 2px solid #00ADB5;
    border-radius: 10px;
    background-color: #222831;
    margin-right: 10px;
    color: #00ADB5;
    font-size: 16px;
  }
  &__input button{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #00ADB5;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__task {
 
  }
}
.task {

  &__element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 2px solid #00ADB5;
    border-radius: 10px;
    background-color: #222831;
    margin-right: 10px;
    margin: 20px 5%;
  }

  &__container{
    display: flex;
  }
  
  &__text{
    color: #00ADB5;
    font-size: 16px;
    text-decoration: dashed;
  }

  &__execution{

  }
  &__delite{

  }
  
}
